body{
    /* background-image: url('/images/download.jpeg'); */
    background-size:cover
    margin:0%
}
#img1{
    width: 30%;
    height: auto;
}
#p1{
    font-size: x-large;
}
#p2{
    color: brown;
}
#p3{
    background-color: rgb(209, 151, 79);
}

.grp1{
    background-color: rgb(77, 220, 173);
    border: 2px dashed rgb(37, 14, 14);
}

.ul1{
    list-style-type: square;
}
table{
    border: 3px solid;
}
table{
    border-collapse: collapse;
    margin: 10% 30% 10% 30%;
}
table tr{
    border-bottom: 5px solid ;
}
table td{
    border-right: 5px solid blue;
    padding: 4px 6px 20px 12px;
}